.userTitle {
  font-size: 20px;
  font-weight: 700;
}

.link {
  width: 100px;
  padding: 7px 20px;
  border: 1px solid red;
  border-radius: 10px;
  color: red;
}

.link.active {
  background-color: rgb(226, 95, 43);
  color: white;
}
