.userTitle {
  font-size: 20px;
  font-weight: 700;
  color: var(--primary-color);
  text-shadow: var(--text-shadow-title);
}

.link {
  width: 100px;
  padding: 7px 20px;
  border: 1px solid red;
  border-radius: 10px;
  color: red;
  cursor: pointer;
}

.link.active {
  background-color: rgb(226, 95, 43);
  color: white;
}
