.list {
  margin: 20px 0;
  list-style-type: none;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
  justify-items: center;
}

.listItem {
  position: relative;
  overflow: hidden;
  border: var(--border);
  border-radius: 10px;
  box-shadow: var(--box-shadow);
  transition:
    transform 0.3s ease,
    box-shadow 0.3s ease;
  width: 300px;
}

.posterWrapper {
  margin: 16px;
  overflow: hidden;
  border-radius: 12px;
  position: relative;
}

.listItem:hover {
  transform: translateY(-5px);
  box-shadow: var(--box-shadow-hover);
}

.listItemPoster {
  width: 100%;
  height: 250px;
  border-radius: 12px;
  object-fit: cover;
  transition: transform 0.3s ease;
}

.listItem:hover .listItemPoster {
  transform: scale(1.05);
}

.listItemInfo {
  background-color: #fff;
  padding: 10px 40px;
  text-align: left;
  font-size: 0.9rem;
  color: #333;
}

.listItemInfo span {
  display: block;
  margin: 5px 0;
  font-weight: 500;
}

.button {
  position: absolute;
  top: 10%;
  left: 80%;
  transform: translate(-50%, -50%);
  padding: 2px 8px;
  background-color: var(--bg-btn-color);
  color: #fff;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  opacity: 0;
  transition: opacity 0.3s ease;
}

.button:hover {
  background-color: var(--bg-btn-hover-color);
}

.listItem:hover .button {
  opacity: 1;
}

.btnEdit {
  position: absolute;
  width: 61px;
  top: 20%;
  left: 80%;
  transform: translate(-50%, -50%);
  padding: 2px 8px;
  background-color: var(--bg-btn-color);
  color: #fff;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  opacity: 0;
  transition: opacity 0.3s ease;
}

.btnEdit:hover {
  background-color: var(--bg-btn-hover-color);
}

.listItem:hover .btnEdit {
  opacity: 1;
}
